.pageDiv{
    background-image: url('../Image/background2.jpg');
    width: 100%;
    height: 100vh;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 

}